/* Réinitialiser certains styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, select, label {
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url('../images/jupiter.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  color: #000000; /* Changement de la couleur du texte pour améliorer la lisibilité */
}

/* Application globale de styles */
.App {
  text-align: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5); /* Légère transparence pour la lisibilité */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

h1 {
  color: #561ea9;
  margin-bottom: 30px;
}

.bodies-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bodies-selection span {
  margin-right: 10px;
}

.range-and-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox-label, .range-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  accent-color: #561ea9; /* ou une autre couleur de votre choix */
}

input[type="range"] {
  -webkit-appearance: none;  /* Override pour les navigateurs WebKit */
  appearance: none;
  width: calc(100% - 80px); /* ajustement de la largeur */
  margin: 0 10px; /* ajouter un peu d'espace autour du curseur de gravité */
  height: 2px; /* Hauteur de la piste */
  background: #561ea9; /* Couleur de fond de la piste */
  outline: none; /* Supprime la bordure de focus autour de l'élément */
  opacity: 0.7; /* Légère transparence */
  -webkit-transition: .2s; /* Transition pour les effets de survol */
  transition: opacity .2s;
}
.gravity {
  position: relative; /* Permet de positionner absolument le label par rapport à ce conteneur */
}

.gravity-label {
  position: absolute;
  left: 50%; /* Commence au milieu du slider */
  top: 20px; /* Ajustez la distance du haut selon vos besoins */
  transform: translateX(-50%); /* Centrer le label par rapport à sa position actuelle */
  font-size: 0.8em; /* Rend le texte plus petit */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Taille réduite du curseur */
  height: 15px; /* Taille réduite du curseur */
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 15px; /* Taille réduite du curseur pour Firefox */
  height: 15px; /* Taille réduite du curseur pour Firefox */
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]:hover {
  opacity: 1; /* Pleine opacité lors du survol */
}

select {
  color: #805db2;

  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  width: calc(100% - 20px); /* ajustement de la largeur */
}

/* Style pour la boîte d'information du corps céleste */
#info {
  background-color: rgb(255, 255, 255);
  border: 1px solid #805db2;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-top: 20px; /* ajoutez un peu d'espace au-dessus de la boîte d'info */
}

#info h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#info p {
  margin-bottom: 10px;
}
